/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */





/*Index Page*/ 

.topNav{
    font-family: 'Judson', serif;
    font-size: 20px; 
}

.navbar{
	min-height: 40px; 
	margin-bottom: 0px;

}

@mixin flex-grid-items($cols) {
	display: flex;
	flex-wrap: wrap;
	>* {
		$item-width: 100% / $cols;
		width: 30%;
		box-sizing: border-box;
		margin: 3px;
	}
}

ul {
	list-style-type: none;
	margin-left: 5%;
	margin-top: 30px;
}

li {
	list-style-type:none; 
	font-family: 'Judson', serif;
    font-size: 19px; 
}

.flex-3-cols {
	@include flex-grid-items(3)
}
.jumbotron {
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-bottom: 0;
	background-image: url('https://i.imgur.com/PWkB4Ht.jpg');
	background-size: cover;
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

.eventHome {
	border-radius: 8px;
}

.eventShow{
	border-radius: 8px;
	margin: 0 auto; 
	display: inherit
}

h1.main.jumbotron-heading {
	color: white;
	font-family: 'Quando', serif;
}

p.lead.text-muted {
	color: white;
	font-family: 'Quando', serif;
	margin-top: 0px;
}

li.eventIndex {
	text-align: center;
    font-family: 'Judson', serif;
    font-size: 20px; 
}

h4 {
	text-align: center;
	font-family: 'Quando', serif;
}

p {
	font-family: 'Judson', serif;	
	font-size: 20px;
}

.signUpForm {
	font-family: 'Judson', serif;	
	font-size: 17px;
	margin: auto; 
	width: 35%; 
}

.commentPic {
	border-radius: 60%;
}

.btn{
	float: left; 
}


.signUpHeader {
	font-family: 'Quando', serif;
	text-align: center;
}

.signForm{
	background:rgba(202, 199, 199, 0.452);
	margin: auto;
	width: 35%; 
	border-radius: 10%; 
}

.signUpBackground { 
	background: url('https://i.imgur.com/JR9uo9w.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.eventBackground { 
	background: url('https://i.imgur.com/t7fQdd0.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.eventForm{
	background:rgba(202, 199, 199, 0.452);
	margin: auto;
	width: 40%; 
	border-radius: 10%;
	text-align: center;
	padding-top: 2%; 
	margin-top: 2%;
}

.eventAForm {
	font-family: 'Judson', serif;	
	font-size: 17px;
	margin: auto; 
	width: 40%;
	text-align: center; 
	
}

.eventSPage{
margin-left: 1%; 
margin-bottom: 5%;
margin-top: 5%;
margin: 50px auto; 
width: 45%;  

}

.eventWords{
	background:rgba(202, 199, 199, 0.877);	
	padding: 2%; 
	border-radius: 3%; 
}

.eventdescription{
	text-align: center; 
	font-family: 'Judson', serif;	
	font-size: 20px;	
	margin-bottom: 0px; 
}

.eventHead{
	font-family: 'Quando', serif;
	text-align: center; 
	font-size: 25px; 	
}

.commentText{
	font-family: 'Judson', serif;		
	font-size: 17px; 
}

.eventLinks{
	margin: 2% auto;
	text-align: center; 
}

.userInfo{
	text-align: center; 
	margin: 0 auto; 
	background:rgba(202, 199, 199, 0.877);
	margin: auto;
	width: 50%; 
	border-radius: 10%;
	text-align: center;
	padding-top: 2%; 
	margin-top: 2%;
}
